<!-- Lightbox for
        * adding a new note,
        * editing of the note,
        * showing archive table -->

<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox__content">
    <!-- форма -->
    <form action="" class="note-form visually-hidden" autocomplete="off">
      <label
        >Name
        <input type="text" placeholder="Name" name="name" />
      </label>
      <label
        >Category
        <input list="categories" name="categ" />
        <datalist id="categories">
          <option value="Task">Task</option>
          <option value="Random Thought">Random Thought</option>
          <option value="Idea">Idea</option>
          <option value="Quote">Quote</option>
        </datalist>
      </label>
      <label
        >Content
        <input type="text" placeholder="Content" name="content" />
      </label>

      <button type="submit" data-action="add-note">Add</button>
      <button type="submit" data-action="edit-note">Save</button>
    </form>
    <!-- таблиця архіву -->
    <table class="js-archive-table visually-hidden">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Content</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

  <button type="button" class="lightbox__button" data-action="close-form">.</button>
</div>
